onnx==1.14.0
onnxruntime-gpu==1.15.0
numpy==1.26.4
matplotlib
scikit-learn
scikit-image
opencv-python
yacs
joblib
natsort
h5py
tqdm
tensorboard
einops
gdown
addict
future
lmdb
pyyaml
requests
scipy
yapf
lpips
thop
timm
torchmetrics
pytorch_msssim
